/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$reach-orange: #ffa73d;

// Background colors:
$avr-red: #ff7100; // well, really kinda orange;
$avr-blue: #2d4dbf;
$avr-lt-grey:  #ebebeb;
$avr-dk-blue: #1b346c;

// button colors
$button-color: white; // text
$button-bkg : #006442; // pine green
$button-hover-color: #006442; // pine green
$button-hover-bkg: white;
$button-border: #006442; // pine green
$button-hover-border: #006442; // pine green
// form buttons
$form-button-color: white;
$form-button-bkg: #1b346c;
$form-button-hover-bkg: #2d4dbf;
$form-button-hover-color : white;
$form-button-border:  white;


// special colors

/* ----------- end Colors ----------- */
